@charset "UTF-8";
// ===========================
// Distance: margin, padding
// ===========================

.mg-auto {
  margin: 0 auto;
}

// margin-top
.mgt-0 {
  margin-top: 0;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgt-15 {
  margin-top: 15px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgt-25 {
  margin-top: 25px;
}

.mgt-30 {
  margin-top: 30px;
}

.mgt-35 {
  margin-top: 35px;
}

.mgt-40 {
  margin-top: 40px;
}

.mgt-45 {
  margin-top: 45px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgt-55 {
  margin-top: 55px;
}

.mgt-60 {
  margin-top: 60px;
}

.mgt-65 {
  margin-top: 65px;
}

.mgt-70 {
  margin-top: 70px;
}

.mgt-75 {
  margin-top: 75px;
}

.mgt-80 {
  margin-top: 80px;
}

.mgt-85 {
  margin-top: 85px;
}

.mgt-90 {
  margin-top: 90px;
}

.mgt-95 {
  margin-top: 95px;
}

.mgt-100 {
  margin-top: 100px;
}


// margin-right
.mgr-0 {  margin-right: 0;    }
.mgr-5 {  margin-right: 5px;    }
.mgr-10 {  margin-right: 10px;  }
.mgr-15 {  margin-right: 15px;  }
.mgr-20 {  margin-right: 20px;  }
.mgr-25 {  margin-right: 25px;  }
.mgr-30 {  margin-right: 30px;  }
.mgr-35 {  margin-right: 35px;  }
.mgr-40 {  margin-right: 40px;  }
.mgr-45 {  margin-right: 45px;  }
.mgr-50 {  margin-right: 50px;  }
.mgr-55 {  margin-right: 55px;  }
.mgr-60 {  margin-right: 60px;  }
.mgr-70 {  margin-right: 70px;  }
.mgr-75 {  margin-right: 75px;  }
.mgr-80 {  margin-right: 80px;  }
.mgr-85 {  margin-right: 85px;  }
.mgr-90 {  margin-right: 90px;  }
.mgr-95 {  margin-right: 95px;  }
.mgr-100 {  margin-right: 100px;  }

.pt-10 { padding-top: 10px; }