@charset "UTF-8";
/* -------------------
  VARIABLES
--------------------*/
// =========================================
// Font face
// =========================================

// @font-face{
//   font-family: EuclidFlex;
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot'); // IE9 Compat Modes
//   src: url('../font/EuclidFlex/EuclidFlex-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff2') format('woff2'),  //Super Modern Browsers 
//        url('../font/EuclidFlex/EuclidFlex-Regular.woff') format('woff'), // Pretty Modern Browsers
//        url('../font/EuclidFlex/EuclidFlex-Regular.ttf')  format('truetype'), // Safari, Android, iOS
//        url('../font/EuclidFlex/EuclidFlex-Regular.svg#svgFontName') format('svg'); // Legacy iOS
// }


// Font Family
$font-base: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif, Roboto Condensed;
// $font-base: "Noto Sans JP", sans-serif;
$font-a: 'Rubik', sans-serif;
$font-b: 'Raleway', sans-serif;
$font-c: 'Roboto Condensed', sans-serif;
$font-d: 'Josefin Sans', sans-serif;


// Color
$color-main: #4F157F;
$color-black: #3D3D3D;