.h1 {
    font-family: "Yu Gothic";
    font-weight: bold;
    font-size: fs(40);
    text-align: center;
    color: #6b6b6b;
}

.about,
.search,
.contact,
.faq,
.flow,
.ppi {
    h2 {
        margin: 20px auto;
        font-family: "Yu Gothic";
        font-weight: bold;
        font-size: fs(32);
        text-align: left;
        color: #6b6b6b;
        @include mq(smt){
            font-size: fs(25);
        }
    }

}

.h3 {
    margin: 20px auto;
    font-family: "Yu Gothic";
    font-weight: bold;
    font-size: fs(24);
    text-align: left;
    color: #6b6b6b;
}

.h4 {
    margin: 20px auto;
    font-family: "Yu Gothic";
    font-size: fs(20);
    color: #3d3d3d;
}

.h5 {
    margin: 20px auto;
    font-family: "Yu Gothic";
    font-size: fs(15);
    text-align: left;
}

.h6 {
    margin-top: 15px;
    font-family: "Yu Gothic";
    font-weight: 500;
    font-size: fs(12);
    letter-spacing: 0.05em;
    line-height: 21.6px;
    text-align: center;
    color: #6b6b6b;
}

.faq {
    background: #e9ebf7;
    padding-top: vw(75);
    padding-bottom: vw(75);
    @include mq(smt) {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    &-title {
        padding: 0 20px;
        @include mq(smt){
            br{display: none;}
        }
        .h1 {
            margin-bottom: vw(30);
        }
        .h5 {
            font-weight: bold;
            text-align: center;
            color: #6b6b6b;
            @include mq(sm2) {
                z-index: 1;
            }
        }
        .guide-section__heading span {
            font-family: "Yu Gothic";
            font-weight: bold;
            color: #6b6b6b;
        }
    }
    &-item {
        width: vw(1000);
        max-width: 1000px;
        margin: 10px auto;
        position: relative;
        @include mq(smt) {
            width: 95%;
        }
        span {
            font-family: Roboto;
            font-weight: 500;
            font-size: fs(34);
            text-align: left;
            color: #f2879b;
        }
    }
    .question {
        font-weight: bold;
        color: #6b6b6b;
    }
    .answers {
        font-weight: 500;
        color: #3d3d3d;
    }
    &-content {
        max-width: 1240px;
        width: vw(1240);
        margin: auto;
        padding-top: vw(40);
        padding-bottom: vw(40);
        border-radius: 30px;
        background-color: white;
        position: relative;
        @include mq(sm2) {
            width: 100%;
            margin-top: 120px !important;
            border-radius: unset;
        }
    }
}

.section-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -150px;
    left: 0;
    @include mq(sm2) {
        top: -120px;
    }
    @include mq(smt) {
        top: -70px;
    }
    div {
        width: 35%;
        text-align: center;
    }
    img {
        height: 150px;
        width: auto;
        @include mq(sm2) {
            height: 120px;
        }
        @include mq(smt) {
            height: 70px;
        }
    }
}


/*Question*/

.question {
    position: relative;
    margin: 0;
    padding: 10px 20px;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 30px;
    background: #ffedf2;
    border: 2px solid #f2879b;
    line-height: 30px;
}


/*Answer*/

.answers {
    padding: 0px vw(70) 0px vw(100);
    margin: 5px 0;
    width: 100%!important;
    height: 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.questions:checked~.answers {
    padding: 10px vw(70) 10px vw(100);
    height: auto;
    opacity: 1;
}


/*FAQ Toggle*/

.plus {
    position: absolute;
    top: 12px;
    right: 20px;
    z-index: 5;
    font-size: 2em;
    line-height: 100%;
    color: #F2879B;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    @include mq(smt) {
        top: 27px;
        right: 10px;
    }
    &:hover {
        cursor: pointer;
    }
}

.questions:checked~.plus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.questions {
    display: none;
}

.bottom-assist {
    padding: 0 20px;
    @include mq(smt){
        br{display: none;}
    }
    .h5 {
        text-align: center;
    }
    .h5 span {
        margin-bottom: vw(35);
        font-size: fs(20);
        font-weight: bold;
        line-height: 40px;
        color: #3d3d3d;
        background-image: url(../images/common/dashline-1.png);
        background-repeat-y: no-repeat;
    }
}

.inquiry {
    border-radius: 40px;
    padding: 20px 110px;
    font-family: "Yu Gothic";
    font-weight: bold;
    font-size: fs(15);
    text-align: center;
    color: #3d3d3d;
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffedf2), color-stop(50%, white)) right;
    background: linear-gradient(to left, #ffedf2 50%, white 50%) right;
    background-size: 200%;
    border: 2px solid #f2879b;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    filter: drop-shadow(3px 3px 0px rgba(242, 135, 155, 0.8));
    &:hover {
        background-position: left;
    }
}

section {
    .guide-btn__link {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right: 110px;
        @include mq(smt) {
            padding: 10px 60px;
        }
        &::before {
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            right: 30px;
            top: calc(50% - 2px);
        }
        &:hover {
            color: #3d3d3d;
        }
    }

}