.search {
    background: #e9ebf7;
    padding-top: vw(75);
    padding-bottom: vw(75);
    @include mq(smt) {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    &-title {
        position: relative;
        padding: 0 20px;
        .h5 {
            margin-top: 35px;
            font-weight: bold;
            line-height: 27px;
            text-align: center;
            color: #6b6b6b;
        }
        .pc-only{
            max-width: 500px;
            width: 100%;
        }
    }
    .section-image {
        max-width: 1240px;
        margin: auto;
        position: unset;
        img {
            height: auto;
        }
    }
    .note {
        background-color: #F5F6F8;
        .title {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            span {
                font-family: "Yu Gothic";
                font-weight: bold;
                font-size: fs(24);
                text-align: left;
                line-height: 30px;
                color: #f2879b;
            }
            img {
                width: 64px;
                height: 56px;
                margin-right: 10px;
            }
        }
        .d-flex {
            justify-content: space-between;
            >div {
                width: 46%;
            }
            .inquiry.long {
                padding: 10px 80px;
                @include mq(tb2) {
                    padding: 10px 50px;
                }
                @include mq(sm2) {
                    padding: 10px 50px;
                }
            }
            .h5.b-f {
                width: 100%;
                display: flex;
                align-items: baseline;
                >div {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    div {
                        margin-left: 4px;
                        margin-right: 4px;
                        flex: 1;
                        height: 1px;
                        border-top: 3px dotted #A074C4;
                    }
                }
                >span {
                    width: 60%;
                }
            }
            .badge {
                padding: 4px 10px;
                border-radius: 50px;
                color: white;
                background-color: #A074C4;
                text-align: center;
            }
            @include mq(sm2) {
                flex-direction: column;
                div {
                    width: 100%;
                    margin: 15px auto;
                }
            }
        }
    }
    .tabs {
        margin-top: 50px;
        section {
            margin-top: 0px;
        }
        &-nav {
            display: flex;
            align-items: center;
            max-width: 700px;
            width: 100%;
            margin: auto;
            padding: 0 25px;
            li {
                width: 50%;
                &:first-child a {
                    border-right: 0;
                    border-top-left-radius: 6px;
                }
                &:last-child a {
                    border-top-right-radius: 6px;
                }
                a {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    background: #DBDADD;
                    color: #6B6B6B;
                    display: block;
                    font-weight: 600;
                    padding: 10px;
                    text-align: center;
                    text-decoration: none;
                    &:hover {
                        color: #6b6b6b;
                        img {
                            filter: grayscale(100%);
                        }
                    }
                    div {
                        margin: auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            margin-right: 20px;
                            filter: grayscale(100%);
                            @include mq(sm2) {
                                width: 28px;
                                height: auto;
                            }
                            @include mq(smt) {
                                width: 22px;
                                height: auto;
                                margin-right: 5px;
                            }
                        }
                        @include mq(sm2) {
                            width: 100%;
                        }
                    }
                    @include mq(sm2) {
                        font-size: fs(12);
                    }
                    @include mq(sm3){
                        padding: 5px;
                    }
                }
            }
            .tab-active a {
                background: #fff;
                border-bottom-color: transparent;
                color: #F2879B;
                cursor: default;
                img {
                    filter: unset;
                }
            }
            @include mq(sm2) {
                max-width: 500px;
            }
        }
    }
}